:root {
  font-family: "Inter", "PingFang SC", "Microsoft YaHei", system-ui, -apple-system,
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #111827;
  background-color: #f9fafb;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  margin: 0;
  font-size: 28px;
  line-height: 1.25;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}
